<div class="row footer-bar">
		<div class="col-lg-3 col-sm-6">
			Something
		</div>
		<div class="col-lg-3 col-sm-6">
			Something
		</div>
		<div class="col-lg-3 col-sm-6">
			Something
		</div>
		<div class="col-lg-3 col-sm-6">
			Something
		</div>
	</div>

  	<br>
	<!-- Footer -->
	<footer class="page-footer font-small teal pt-4">

	  <!-- Footer Text -->
	  <div class="container-fluid text-center text-md-left">

	    <!-- Grid row -->
	    <div class="row">

	      <!-- Grid column -->
	      <div class="col-md-6 mt-md-0 mt-3">

	        <!-- Content -->
	        <h5 class="text-uppercase font-weight-bold"><strong>Prof K. K. Yadav</strong>	</h5>
	        <p>Cheif Town Planner, Haryana (Retd.)<br>
	        	Founder President <br>
	        	Krishna Aravali Foundation <br>
	        	Mob: 9910272399
	        </p>

	      </div>
	      <!-- Grid column -->

	      <!-- <hr class="clearfix w-100 d-md-none pb-3"> -->

	      <!-- Grid column -->
	      <div class="col-md-6 mb-md-0 mb-3">

	        <!-- Content -->
	        <h5 class="font-weight-bold"><strong>KRISHNA ARAVALI FOUNDATION</strong><br></h5>
	        <p>	Plot no. 324, Sector 1, IMT Manesar, Gurgaon-122052 (HR)</p>

	      </div>
	      <!-- Grid column -->

	    </div>
	    <!-- Grid row -->

	  </div>
	  <!-- Footer Text -->

	  <!-- Copyright -->
	  <br>
	  <div class="footer-copyright text-center py-3">
	    © 2020 Krishna Aravali Foundation. All Rights Reserved.
	  </div>
	  <br>
	  <!-- Copyright -->

	</footer>
	<!-- Footer -->

<script type="text/javascript" src="/jQuery/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>

</body>
</html>