<%- include("partials/header") %>

<div>
		<nav class="navbar navbar-inverse">
		  <div class="container">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/index">Krishna Aravali Foundation</a>
		    </div>
		    <div id="navbar" class="collapse navbar-collapse">
		      <ul class="nav navbar-nav">
		        <li><a href="/index">Home</a></li>
		        <li><a href="/aboutUs">About Us</a></li>
		        <li><a href="/FAQs">FAQs</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="/resourceCenter">Resource Center <i class="fa fa-user"></i></a></li>
		        <li class="active"><a href="/contactUs">Contact Us  <i class="fa fa-user"></i></a></li>
		      </ul>
		    </div>
		  </div>
		 </nav>
	</div>

<%- include("partials/footer") %>